<!-- Driver signup hero -->
<section class="sect ds_hero">
  <div class="container">
    <div class="ds_hero_header"></div>
    <div class="ds_hero_body dis-flex">
      <div class="ds_hero_body_content">
        <h2>Drive with NuRide</h2>
        <p>Earn good money with your vehicle.</p>
        <!-- <span>
          <img src="../../../assets/img/svg/whatsapp-logo.svg" alt="" />
        </span> -->
      </div>
      <div class="ds_hero_body_form">
        <h3>Signup as a driver below</h3>
        <form>
          <div class="form_field">
            <label for="email">Email</label>
            <div class="input_field">
              <input type="text" placeholder="e.g dave@gmail.com" />
            </div>
          </div>
          <div class="form_field">
            <label for="phone-number">Phone number</label>
            <div class="input_field">
              <span>+234</span>
              <input type="tel" placeholder="9103030300" />
            </div>
          </div>
          <div class="form_field">
            <label for="phone-number">City</label>
            <div class="input_field">
              <select name="" id="">
                <option value="Lagos">Lagos</option>
                <option value="Lagos">Abuja</option>
                <option value="Lagos">Kano</option>
              </select>
            </div>
          </div>
          <div class="form_btn">
            <button class="btn prim_btn">Create</button>
          </div>
          <p class="form_agreement">
            By signing up, you accept our <span>Terms of Service</span> and
            <span>Privacy Policy</span>.
          </p>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- What to do -->
<section class="sect what_to">
  <div class="container">
    <div class="head" style="text-align: center; margin-bottom: 2rem">
      <h2>Why NuRide?</h2>
    </div>
    <div class="card">
      <div class="card_item">
        <img src="../../../assets/img/svg/ride.svg" alt="" />
        <h3>Earn money</h3>
        <p>Drive with NuRide and earn extra income.</p>
      </div>
      <div class="card_item">
        <img src="../../../assets/img/svg/phone.svg" alt="" />
        <h3>Drive anytime</h3>
        <p>Work with your own schedule. No minimum hours and no boss.</p>
      </div>
      <div class="card_item">
        <img src="../../../assets/img/svg/wallet.svg" alt="" />
        <h3>No monthly fees</h3>
        <p>No risk, you only pay when you earn.</p>
      </div>
    </div>
  </div>
</section>

<!-- What to do -->
<section class="sect what_to2">
  <div class="container">
    <div class="head" style="text-align: center; margin-bottom: 2rem">
      <h2>How NuRide works?</h2>
    </div>
    <div class="card">
      <div class="card_item">
        <img
          src="../../../assets//img/driver_signup/step1-1a1f6a4411a3e7c80c69e575da97be33.jpg"
          alt=""
        />
        <h3>1. Accept the request</h3>
        <!-- <p>Nudrive offers a ride in seconds</p> -->
      </div>
      <div class="card_item">
        <img
          src="../../../assets/img/driver_signup/step2-d429daf5d0083e1370d18b2b18787cdd.jpg"
          alt=""
        />
        <h3>2. Pickup the client</h3>
        <!-- <p>
          We aim to offer the best ride plans in every city. See for yourself!
        </p> -->
      </div>
      <div class="card_item">
        <img
          src="../../../assets/img/driver_signup/step3-efcd6924fa037fbe75b31dd6a27ba96c.jpg"
          alt=""
        />
        <h3>3. Drive to destination</h3>
        <!-- <p>Get wherever you need to go as fast as possible.</p> -->
      </div>
    </div>
  </div>
</section>
