<section class="sect">
  <div class="container">
    <div class="story">
      <h1>We are NuRide</h1>
      <p>
        NuRide is a Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Blanditiis, soluta? Quae itaque laborum similique, mollitia non debitis
        odio! Consectetur veniam, atque deleniti ipsum corporis reprehenderit
        dolore sed qui ab adipisci.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
        nostrum est? Soluta animi esse explicabo ratione, aut nesciunt in
        impedit dignissimos, asperiores quidem corporis dolore quam hic, dolor
        aliquid molestiae.
      </p>
    </div>
  </div>
</section>

<!-- Download app -->
<section class="sect download">
  <div class="container nr_flex_content">
    <div class="nr_flex_details">
      <h2 class="download_content_title">Our story</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime sapiente
        voluptatem praesentium ducimus? Dolores, blanditiis ullam, eligendi vel
        dolorum quod incidunt eius consectetur dolor error iure asperiores, esse
        et at? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
        sapiente sint est natus culpa cupiditate dignissimos blanditiis animi,
        ullam a modi maxime, esse, quia repellat ut alias necessitatibus
        numquam? Error!
      </p>
    </div>
    <div class="nr_flex_img">
      <img
        src="../../../assets/img/bolt-story-1.1-desktop-155bff61249101092f5bec92a2085eb0.webp"
        alt=""
      />
    </div>
  </div>
</section>

<!-- What to do -->
<section class="sect what_to">
  <div class="container">
    <div class="head" style="text-align: center; margin-bottom: 2rem">
      <h2>NuRide in numbers</h2>
    </div>
    <div class="card">
      <div class="card_item">
        <h2>30+</h2>
        <p>Riders</p>
      </div>
      <!-- <div class="card_item">
        <h2>3+</h2>
        <p>States</p>
      </div> -->
      <div class="card_item">
        <h2>1M+</h2>
        <p>Users</p>
      </div>
      <!-- <div class="card_item">
        <h2>4+</h2>
        <p>States offering NuRide services</p>
      </div> -->
    </div>
  </div>
</section>
