<section class="hero">
  <div class="nr_flex_content">
    <div class="hero_content nr_flex_details">
      <h1 class="hero_content_title">
        Pretty fast & affordable way to book rides.
      </h1>
      <p>
        With every safety feature and every standard in our guidelines, we're
        committed to helping to create a safe ride environment & journey for our
        users.
      </p>
      <div class="hero_content_btns">
        <button class="btn sec_btn">Get started</button>
        <button class="btn prim_btn">Download app</button>
      </div>
    </div>
    <div class="hero_bg nr_flex_img">
      <!-- <img src="../../../assets/img/hero-bg.png" alt="" /> -->
      <div class="hero_bg_img"></div>
    </div>
  </div>
</section>

<!-- Why us -->
<section class="sect why_us">
  <div class="vectors">
    <img
      src="../../../assets/img/svg/vector1.svg"
      alt=""
      class="vectors_left"
    />
    <img
      src="../../../assets/img/svg/vector2.svg"
      alt=""
      class="vectors_right"
    />
  </div>
  <div class="container">
    <div class="card">
      <div class="card_item">
        <img src="../../../assets/img/svg/save.svg" alt="" />
        <h3>Save and Convienient</h3>
        <p>Nudrive offers a save and convinent trips</p>
      </div>
      <div class="card_item">
        <img src="../../../assets/img/svg/happy.svg" alt="" />
        <h3>Happy Customers</h3>
        <p>
          We aim to offer the best ride services in every city. See for
          yourself!
        </p>
      </div>
      <div class="card_item">
        <img src="../../../assets/img/svg/support.svg" alt="" />
        <h3>24 Hours Customer Support</h3>
        <p>Always get fast support, whenever you need it.</p>
      </div>
    </div>
  </div>
</section>

<!-- Download app -->
<section class="sect download">
  <div class="container nr_flex_content">
    <div class="download_content nr_flex_details">
      <h2 class="download_content_title">Comrade, you no go like book ride?</h2>
      <p>
        Pick your destination, request a ride, meet your driver, enjoy the
        journey.
      </p>
      <div class="download_btns dis-flex">
        <button class="btn prim_btn dis-flex">
          <img src="../../../assets/img/svg/Playstore.svg" alt="" />
          Play store
        </button>
        <button class="btn prim_btn dis-flex">
          <img src="../../../assets/img/svg/appstore.svg" alt="" />
          App store
        </button>
      </div>
    </div>
    <div class="nr_flex_img">
      <img src="../../../assets/img/phone.png" alt="" />
    </div>
  </div>
</section>

<!-- What to do -->
<section class="sect what_to">
  <div class="container">
    <div class="card">
      <div class="card_item">
        <img src="../../../assets/img/svg/ride.svg" alt="" />
        <h3>Book a Ride</h3>
        <p>Nudrive offers a ride in seconds</p>
      </div>
      <div class="card_item">
        <img src="../../../assets/img/svg/wallet.svg" alt="" />
        <h3>The Best Plans</h3>
        <p>
          We aim to offer the best ride plans in every city. See for yourself!
        </p>
      </div>
      <div class="card_item">
        <img src="../../../assets/img/svg/phone.svg" alt="" />
        <h3>Easy User Experiences</h3>
        <p>Get wherever you need to go as fast as possible.</p>
      </div>
    </div>
  </div>
</section>

<section class="sect subscribe">
  <div class="subscribe_content">
    <h4>
      Subscribe to get informations, latest news and other offers about Nudrive
    </h4>
    <form class="form">
      <div class="form_field">
        <input type="email" placeholder="Enter your email address" />
      </div>
      <button class="btn sec_btn">Subscribe</button>
    </form>
  </div>
</section>
