<section class="hero">
  <div class="nr_flex_content">
    <div class="hero_content nr_flex_details">
      <h1 class="hero_content_title">Call for help, anytime, anywhere.</h1>
      <p>
        NuRide Drive is a low-cost, safe and convenient car-sharing solution
        that brings you all the benefits of owning a car, without any of the
        hassle!
      </p>
      <div class="hero_content_btns">
        <button class="btn sec_btn">Open NuRide app</button>
      </div>
    </div>
    <div class="hero_bg nr_flex_img">
      <div class="hero_bg_img"></div>
    </div>
  </div>
</section>

<section class="sect download">
  <div class="container nr_flex_content">
    <div class="download_content nr_flex_details">
      <h2 class="download_content_title">Find a nearby Mechanic</h2>
      <p>
        Pick your destination, request a ride, meet your driver, enjoy the
        journey.
      </p>
      <!-- <div class="download_btns dis-flex">
        <button class="btn prim_btn dis-flex">
          <img src="../../../assets/img/svg/Playstore.svg" alt="" />
          Play store
        </button>
        <button class="btn prim_btn dis-flex">
          <img src="../../../assets/img/svg/appstore.svg" alt="" />
          App store
        </button>
      </div> -->
    </div>
    <div class="nr_flex_img">
      <img src="../../../assets/img/phone.png" alt="" />
    </div>
  </div>
</section>

<section class="sect download">
  <div class="container nr_flex_content row-reverse">
    <div class="download_content nr_flex_details">
      <h2 class="download_content_title">Locate the nearest carwash</h2>
      <p>
        Pick your destination, request a ride, meet your driver, enjoy the
        journey.
      </p>
      <!-- <div class="download_btns dis-flex">
        <button class="btn prim_btn dis-flex">
          <img src="../../../assets/img/svg/Playstore.svg" alt="" />
          Play store
        </button>
        <button class="btn prim_btn dis-flex">
          <img src="../../../assets/img/svg/appstore.svg" alt="" />
          App store
        </button>
      </div> -->
    </div>
    <div class="nr_flex_img">
      <img src="../../../assets/img/phone.png" alt="" />
    </div>
  </div>
</section>
