<footer class="footer">
  <div class="container footer_content">
    <!-- ABout -->
    <div class="footer_content_about">
      <!-- <img
        src="../../../../assets/img/logo-removebg.svg"
        alt="image"
        class="footer-logo clickable"
        routerLink="/"
      /> -->
      <h2>NuDrive</h2>
      <p>We belive life should be enjoyed to the fullest.</p>
      <div class="footer_about_btns">
        <span class="clickable">
          <!-- <img src="../../../../assets/img/svg/linkedin.svg" alt="" /> -->
        </span>
        <span class="clickable">
          <!-- <img src="../../../../assets/img/svg/instagram.svg" alt="" /> -->
        </span>
      </div>
    </div>

    <!-- Posts -->
    <div class="footer_content_links">
      <h4 class="title">Services</h4>
      <ul>
        <!-- <li>Who we are</li> -->
        <li class="">
          <p>Ride</p>
        </li>
        <li class="">
          <p>Become a driver</p>
        </li>
        <li class="">
          <p>Request ride online</p>
        </li>
        <li class="">
          <p>Business</p>
        </li>
      </ul>
    </div>

    <!-- Contact -->
    <div class="footer_content_links">
      <h4 class="title">Help and support</h4>
      <ul>
        <!-- <li>Who we are</li> -->
        <li class="">
          <p>Help center</p>
        </li>
        <li class="">
          <p>Contacts</p>
        </li>
        <li class="">
          <p>Cities</p>
        </li>
        <li class="">
          <p>Mobile Application</p>
        </li>
      </ul>
    </div>

    <!-- Socials -->
    <div class="footer_content_links">
      <h4 class="title">About</h4>
      <ul>
        <!-- <li>Who we are</li> -->
        <li class="">
          <p>About</p>
        </li>
        <li class="">
          <p>Blog</p>
        </li>
        <li class="">
          <p>Security</p>
        </li>
        <li class="">
          <p>Careers</p>
        </li>
      </ul>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer_copyright container">
    <p class="footer_copyright_content">
      ©Copyright {{ currentYear }} NuDrive - All Right Reserved
    </p>
  </div>
</footer>
